#Dependencies

# Support for .svg files
npm install -s react-native-svg

# React Navigation
npm install @react-navigation/native

# Navigation tabs
npm install @react-navigation/bottom-tabs

# Dependencies for styles and themes
npm install --save @react-native-vector-icons/common
npx expo install @expo-google-fonts/dev expo-font