client/.example
client/app-example

# Node.js dependencies
client/node_modules/
client/.expo/
client/.expo-shared/

backend/backend/*.pyc
backend/backend/__pycache__/
backend/backend/venv/
backend/db.sqlite3

# Python dependencies
backend/venv/
backend/backend/__pycache__/
backend/backend/*.pyc
backend/db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Environment and credentials
.env
firebase.json
client/google-services.json
client/GoogleService-Info.plist